/*by @GH0STP4WZ#0001, from fluxer.gg/themes*/
.ChannelIndexPage\.module__memberListDivider___XzNmOW,
.MemberListContainer\.module__memberListContainer___XzJhOT {
    transition: all ease 0.3s!important;
}
body:not(:has(.MemberListContainer\.module__memberListContainer___XzJhOT:hover)) {
    .ChannelIndexPage\.module__memberListDivider___XzNmOW,
    .MemberListContainer\.module__memberListContainer___XzJhOT {
        margin-right: -13rem;
    }
}
