/* ---------------------------------------------------------------- */
/* discord-like user profiles by deer
/* ---------------------------------------------------------------- */

/* full user profile */
[class*='UserProfileModal.module__modalRoot_'] {
	height: unset; /* shrink to only occupy necessary space */
}

/* pfp button */
[class*="ProfileCardBanner.module__avatarButton_"],
[class*="UserProfileModal.module__avatarContainer_"]
{
	anchor-name: --anchor-userstatus;
}

/* "display name, username, pronouns */
[class*="ProfileCardUserInfo.module__userInfoContainer_"],
[class*="UserProfileModal.module__userInfoContent_"]
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
/* display name */
[class*="ProfileCardUserInfo.module__nameRow_"],
[class*="UserProfileModal.module__nameRow_"]
{
	width: 100%;
}
/* username */
[class*="ProfileCardUserInfo.module__usernameRow_"],
[class*="UserProfileModal.module__usernameRow_"]
{
	gap: unset;
	color: var(--text-tertiary);
}
/* username pronouns separator */
[class*="ProfileCardUserInfo.module__pronouns_"]::before,
[class*="UserProfileModal.module__pronouns_"]::before
{
	content: "";
	width: 4px!important;
	height: 4px!important;
	margin: 0rem 0.5rem;
	background-color: var(--text-tertiary);
	border-radius: var(--radius-full);
}

/* pronouns */
[class*="ProfileCardUserInfo.module__pronouns_"],
[class*="UserProfileModal.module__pronouns_"]
{
	font-size: 14px;
	margin-top: unset;
	color: var(--text-tertiary);
	display: inline-flex;
	align-items: center;
}

/* custom profile status */
[class*="UserProfilePopout.module__profileCustomStatus_"],
/* custom profile status (user area) */
[class*="UserAreaPopout.module__customStatusRow_"],
[class*="UserProfileModal.module__customStatusRow_"],
/* profile preview custom status */
[class*="ProfilePreview.module__profileCustomStatus_"]
{
	align-items: flex-start;
	
	position: absolute;
	position-anchor: --anchor-userstatus;
	position-area: right span-all;
	position-visibility: always;
	
	
	margin-left: 0.75rem;
	
	width: max-content;
	max-width: 175px;
	max-height: 3.7rem;
	
	overflow: hidden;
	
	background: var(--background-secondary-alt);
	/* border: 1px solid var(--background-header-secondary); */
	border-radius: 4px;
	box-shadow: var(--shadow-md);
	z-index: 11; /* display above plutonium/visionary badge */
	
	transition: var(--transition-normal);
}

/* custom profile status */
[class*="UserProfilePopout.module__profileCustomStatus_"]:hover,
/* custom profile status (user area) */
[class*="UserAreaPopout.module__customStatusRow_"]:hover,
[class*="UserProfileModal.module__customStatusRow_"]:hover,
/* profile preview custom status */
[class*="ProfilePreview.module__profileCustomStatus_"]:hover {
	max-height: 10rem;
}

/* custom profile status inner */
[class*="CustomStatusDisplay"] > [class*="CustomStatusDisplay.module__content_"],
[class*="UserProfilePopout"] > [class*="CustomStatusDisplay.module__content_"],
[class*="UserProfileModal"] > [class*="CustomStatusDisplay.module__content_"],
[class*="ProfilePreview"] > [class*="CustomStatusDisplay.module__content_"],
[class*="UserAreaPopout.module__customStatusPlaceholder_"] {
	margin: 0.25rem 0.5rem;
}

[class*="UserProfileModal.module__profileContentWrapper_"] {
	background: var(--background-secondary);
}

/* profile popout bio background */
[class*="UserProfileShared.module__bioContainer_"] {
	background: var(--background-secondary);
	padding: 0.25rem 0.5rem;
	border-radius: 4px;
	
	border: 1px solid var(--background-modifier-hover);
	
}


/* bio join date notes etc container */
[class*="UserProfileModal.module__profileContent_"] {
	padding-top: 16px!important;
}