/**
 * @name Horizontal serverbar
 * @description Repositions the server list to be horizontal (or on the right side)
 * @author deer
 * @version 1.1
 * @tags canary, snippet, layout
 */

body {
	container-name: body;
	
	/* Controls the server list position. Options: off | on */
	--Horizontal-Serverlist: on;
	/* Controls the server list alignment. center only works with the horizontal serverlist enabled. 
    Options: left | center | right */
	--Serverlist-Alignment: left;
}

/* ---------------------------------------------------------------- */
/* Customization: horizontal server list */
/* ---------------------------------------------------------------- */

@property --Horizontal-Serverlist {
    syntax: 'off | on';
    inherits: false;
    initial-value: left;
}

@property --Serverlist-Alignment {
    syntax: 'left | center | right';
    inherits: false;
    initial-value: left;
}

@container body style(--Horizontal-Serverlist: off) {
    @container body style(--Serverlist-Alignment: right) {
        /* make channel list etc wider to match user area */
        [data-flx="app.guilds-layout.user-area-wrapper"] {
            width: var(--layout-sidebar-width);
        }  

        /* reverse layout order */
        [data-flx="app.guilds-layout.guilds-layout"] {
            display: flex;
              flex-direction: row-reverse;
        }
        /* swap active indicator side*/
        [data-flx="app.sidebar-nav.guild-list-item-presentation.guild-indicator"] {
            left: unset;
            right: var(--guild-list-indicator-inset);
        }
        [data-flx="app.sidebar-nav.guild-list-item-presentation.guild-indicator-bar"] {
            border-radius:  var(--radius-full) 0 0 var(--radius-full);
        }
    }
}

@container body style(--Horizontal-Serverlist: on) {
    /* container for server list & rest */
    [data-flx="app.guilds-layout.guilds-layout"] {
        display: flex;
        flex-direction: column;
    }

    /* make user area match channel list width */
    [data-flx="app.guilds-layout.user-area-wrapper"] {
        width: var(--layout-sidebar-width);
    }

    /* scroller wrapper */
    [data-flx="app.guilds-layout.guild-list.guild-list-scroller-wrapper"] {
        height: var(--layout-guild-list-width);
        width: 100%;
    }
    /* scroller wrap | changed to fix hover region while allowing panel labels */
    [data-flx="app.guilds-layout.guild-list.guild-list-scroller-wrapper"] [class*="Scroller.module__scrollerWrap_"] {
        overflow: hidden;
    }

    /* rotate scroller */
    [data-flx="app.guilds-layout.guild-list.guild-list-scroll-container"] {
        padding: var(--spacing-2) 0px;
        height: 100vw;
        transform: rotateZ(-90deg);
    }

    /* scroller child container*/
    [data-flx="app.guilds-layout.guild-list.guild-list-scroll-container"] [class*="Scroller.module__scrollerChildren_"] {
        align-items: flex-end;
    }

    /* serverlist section container */
    [data-flx="app.guilds-layout.guild-list.guild-list-content"] {
        width: var(--layout-guild-list-width);
    }

    /* unrotate server button & misc buttons */
    [class*="GuildsLayout.module__guildListItem_"],
    [data-flx="app.sidebar-nav.guild-folder-item.folder-header.toggle-expanded"] {
        transform: rotateZ(-180deg);
    }
    /* unrotate server image & extra buttons */
    [class*="GuildListDMItem.module__relative_"],
    [class*="GuildsLayout.module__relative_"],
    [class*="GuildFolderItem.module__relative_"],
    [class*="GuildsLayout.module__addGuildButtonIcon_"],
    /* unrotate discovery, create server & help */
    [data-flx="app.sidebar-nav.discovery-button.div"],
    [data-flx="app.sidebar-nav.add-guild-button.div"],
    [data-flx="app.sidebar-nav.help-button.button.help"]
    {
        transform: rotateZ(-90deg);
    } 
    
    
    @container body style(--Serverlist-Alignment: left) {
        [data-flx="app.guilds-layout.guild-list.guild-list-scroll-container"]  [data-flx="ui.scroller.scroller-children"] {
            justify-content: start;
        }
    }

    @container body style(--Serverlist-Alignment: center) {
        [data-flx="app.guilds-layout.guild-list.guild-list-scroll-container"] [data-flx="ui.scroller.scroller-children"] {
            justify-content: center;
        }
    }

    @container body style(--Serverlist-Alignment: right) {

        /* reverse server list */
        [data-flx="app.guilds-layout.guild-list.guild-list-content"] {
            padding: unset;
            display: flex;
            flex-direction: column-reverse!important;
        }

        /* reverse folders */
        [data-flx="app.sidebar-nav.guild-folder-item.folder-container"] {
            display: flex;
            flex-direction: column-reverse!important;
        }

        [data-flx="app.guilds-layout.guild-list.guild-list-scroll-container"]  [data-flx="ui.scroller.scroller-children"] {
            justify-content: end;
        }
    }
}