/**
 * @name Online status as borders
 * @description Displays user online status as a border around their profile picture
 * @author deer
 * @version Canary
 * @tags Snippet
 */

body {
	container-name: body;

	/* set the user online status appearance. | Options: off, on */
	--OutlineOnlineStatus: on;
}	

/* ----------------------------------------------------------------------- */

@property --OutlineOnlineStatus {
	syntax: 'off | on';
	inherits: false;
	initial-value: on;
}

@container body style(--OutlineOnlineStatus: on) {
	/* hide original status indicator */
	[data-flx="ui.base-avatar.status-container"] {
		display: none!important;
	}
  
	[data-flx="ui.base-avatar.image-frame"] {
      mask: unset;
    }
	
	[data-flx="ui.status-aware-avatar.avatar"] {
		border-radius: var(--radius-full)!important;
		overflow: hidden;
	}
	
	
	[data-flx="ui.status-aware-avatar.avatar"][data-flx-status="offline"],
	[data-flx="ui.status-aware-avatar.avatar"][data-flx-status="dnd"],
	[data-flx="ui.status-aware-avatar.avatar"][data-flx-status="idle"],
	[data-flx="ui.status-aware-avatar.avatar"][data-flx-status="online"] {
        border-width: 0.15rem;
		border-style: solid;
	}
	
	[data-flx="ui.status-aware-avatar.avatar"][data-flx-status="offline"] {
		border-color: var(--status-offline);
	}
	[data-flx="ui.status-aware-avatar.avatar"][data-flx-status="dnd"] {
		border-color: var(--status-dnd);
	}
	[data-flx="ui.status-aware-avatar.avatar"][data-flx-status="idle"] {
		border-color: var(--status-idle);
	}
	[data-flx="ui.status-aware-avatar.avatar"][data-flx-status="online"] {
		border-color: var(--status-online);
	}
	
	/* pfp view outline medium */
	[class*="UserProfileModal"] [data-flx="ui.status-aware-avatar.avatar"],
	[class*="ProfileCardBanner"] [data-flx="ui.status-aware-avatar.avatar"],
	[class*="YouPage"] [data-flx="ui.status-aware-avatar.avatar"]{
		border-width: 4px;
	}
}