/* ----------------------------------------------------------------------- */
/* online-status as border rings
/* ----------------------------------------------------------------------- */

/* hide original status indicator */
[class*="BaseAvatar.module__statusContainer_"] {
	display: none!important;
}

[class*="BaseAvatar"] > image {
	mask: none;
	border-radius: var(--radius-full)!important;
}

[class*="BaseAvatar.module__container_"] {
	border-radius: var(--radius-full)!important;
	overflow: hidden;
}


[class*="BaseAvatar.module__container_"][aria-label*="Offline"],
[class*="BaseAvatar.module__container_"][aria-label*="Do Not Disturb"],
[class*="BaseAvatar.module__container_"][aria-label*="Idle"],
[class*="BaseAvatar.module__container_"][aria-label*="Online"] {
	border-width: 0.15rem;
	border-style: solid;
}

[class*="BaseAvatar.module__container_"][aria-label*="Offline"] {
	border-color: var(--status-offline);
}
[class*="BaseAvatar.module__container_"][aria-label*="Do Not Disturb"] {
	border-color: var(--status-dnd);
}
[class*="BaseAvatar.module__container_"][aria-label*="Idle"] {
	border-color: var(--status-idle);
}
[class*="BaseAvatar.module__container_"][aria-label*="Online"] {
	border-color: var(--status-online);
}

/* pfp view outline medium */
[class*="UserProfileModal"] [class*="BaseAvatar.module__container_"],
[class*="ProfileCardBanner"] [class*="BaseAvatar.module__container_"],
[class*="YouPage"] [class*="BaseAvatar.module__container_"]{
	border-width: 4px;
}