/* server-columns by carlfully */
:root {
    --columns: 2; /* please just use numbers like 2, 3, 4, 5 and such, I don't want to code weird cases :< */
    --layout-guild-list-width: 4.0rem; /* make columns more compact */
}

[class*="GuildsLayout.module__guildListContent_"], [class*="GuildsLayout.module__guildListScrollerWrapper_"] {
    width: calc(70px + (var(--columns) - 1) * var(--layout-guild-list-width));
}

[class*="GuildsLayout.module__guildsLayoutContainer_"] {
    gap: 0.5rem;
}

[class*="GuildsLayout.module__contentContainer_"] {
    padding-left: calc( (var(--columns) - 1) * var(--layout-guild-list-width));
}

[class*="GuildsLayout.module__guildListTopSection_"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

[class*="GuildsLayout.module__guildListGuildsSection_"], [class*="GuildsLayout.module__guildListItems"] {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    vertical-align: middle;
    flex: 25%;
}

[class*="GuildsLayout.module__guildListItems_"] {
    grid-column-start: 1;
    grid-column-end: span var(--columns);
}

[class*="GuildsLayout.module__guildDivider_"] {
    grid-column: 1 / -1;
    width: unset;
}

/* user area */
[class*="GuildsLayout.module__userAreaWrapper_"] {
    width: calc(var(--layout-guild-list-width) * var(--columns) + var(--layout-sidebar-width));
}
