/**
 * @name Transparent theme template
 * @description customizable template for transparent themes. can also just be a used as a theme on its own.
 * @author deer
 * @version 1.1
 * @tags canary, template, transparent
 */

:root {
    /* ----------------------------------------------------------------------- */
    /* BACKGROUND SETTINGS
    /* ----------------------------------------------------------------------- */
  
	/* Background Image - credits to ThaSilentArtist.  */
	--theme-background-image: url("https://fluxerusercontent.com/attachments/1474610319297830991/1493962211325685781/bg-1.png");
    /* BG image opacity. 0 is fully transparent, 1 is fully opaque */
	--theme-background-opacity: 0.3;
    /* BG image blurring. Set to 0 to remove blur */
	--theme-background-blur: 10px;
	/* fallback color behind the background image. can be used to give your bg image a tint */
	--theme-background-color: #02172c;
	/* Image position | center, left, right, bottom, top */
	--theme-background-position: top;
	/* To cover the entire app, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */
	--theme-background-size: cover;
	/* if you want the image to repeat */
	--theme-background-repeat: no-repeat;
}

/* ----------------------------------------------------------------------- */
/* BUILT IN THEME STYLES
/* ----------------------------------------------------------------------- */

/* dark-theme specific tweaks. this one can generally be ignored, but ive decided to add it as an example.
/* you can find these theme-specific colors through dev tools in the fluxer client here:
/* sources -> fluxer_app/src/styles/generated/color-system.css */
.theme-dark {
	/* these are fluxer's built in background colors, adjusted to add slight transparency */
	--background-opacity: 0.95;
	
	--background-primary: hsla(220, calc(13% * var(--saturation-factor)), 5%, var(--background-opacity));
	--background-secondary: hsla(220, calc(13% * var(--saturation-factor)), 11.18%, var(--background-opacity));
	--background-secondary-lighter: hsla(220, calc(13% * var(--saturation-factor)), 13.22%, var(--background-opacity));
	--background-secondary-alt: hsla(220, calc(13% * var(--saturation-factor)), 15.11%, var(--background-opacity));
	--background-tertiary: hsla(220, calc(13% * var(--saturation-factor)), 18.44%, var(--background-opacity));
}

/* light-theme specific tweaks */
.theme-light {
	--theme-background-color: #c0defc;

}
/* coal-theme specific tweaks go here */
.theme-coal {
	--theme-background-color: #000;
}

/* ---------------------------------------------------------------- */
/* basic setup
/* ---------------------------------------------------------------- */

html {
	background: var(--theme-background-color);
}

/* prevent background turning black in mobile view */
body {
	background: transparent!important;
}

/* this contains the background image */
body::before {
	content: "";
	position: fixed;
	inset: 0;
	background: var(--theme-background-image);
	background-size: var(--theme-background-size);
	background-position: var(--theme-background-position);
	background-repeat: var(--theme-background-repeat);
	filter: blur(var(--theme-background-blur));
	opacity: var(--theme-background-opacity);
	z-index: -1;
}

/* ---------------------------------------------------------------- */
/* Add Transparency
/* this is safer than overwriting the color variables directly
/* ---------------------------------------------------------------- */

/* remove ibackgrounds. this is safer than overwriting the color variables directly */
html:not(.auth-page) [data-flx="app.app.app-wrapper.app-container"],
[data-flx="app.app.app-wrapper.app-container"],
[class*="GuildsLayout.module__guildsLayoutContainer_"],
[class*="GuildsLayout.module__guildListScrollContainer_"],
[class*="GuildsLayout.module__contentContainer_"],
[data-flx="app.user-area.user-area-inner.section"],
[class*="OutlineFrame.module__frame_"],
[class*="GuildsLayout.module__contentInner_"],
[class*="GuildLayout.module__guildLayoutContainer_"],
[class*="ChannelListContent.module__channelListScroller_"],
[class*="GuildLayout.module__guildMainContent_"],
[class*="ChannelLayout.module__channelLayoutContainer_"],
[class*="ChannelIndexPage.module__channelGrid_"],
[class*="ChannelHeader.module__headerContainer_"],
[data-flx="channel.channel-chat-layout.container"],
[data-flx="channel.lexical-channel-textarea-content.textarea-outer"],
[class*="GuildHeader.module__headerContainer_"],
[class*="DMFriendsView.module__container_"],
[class*="Divider.module__text_"],
[class*="Divider.module__dateWithUnreadText_"],
[class*="SplashScreen.module__splashOverlay_"],
[class*="MobileTextareaLayout.module__mobilePlusButton_"],
[class*="MobileTextareaLayout.module__mobileInputContainer_"],
[class*="MobileTextareaLayout.module__mobileVoiceButton_"],
[class*="ChannelHeader.module__iconButtonMobile_"],
[class*="NotificationsPage.module__container_"],
[class*="SelectBottomSheet.module__trigger_"],
[class*="NotificationsPage.module__bookmarkButton_"],
[class*="MemberListContainer.module__memberListScroller_"],
[class*="ChannelSearchResults.module__container_"],
[class*="GuildNavbarSkeleton.module__skeletonHeader_"],
[data-flx="discovery.discovery.discovery-navbar.navbar"],
/* dm list & chat */
[data-flx="channel.direct-message.dm-layout.content-inner--2"],
[data-flx="channel.direct-message.dm-list.dm-list-header.show.button"],
[data-flx="channel.direct-message.dm-list.desktop-scroller"],
[data-flx="channel.direct-message.dm-list.dm-channel-list"], /* dm users */
[data-flx="channel.direct-message.dm-layout.content-column--2"],
[data-flx="channel.direct-message.dm-list.dm-list-container"],
[data-flx="channel.direct-message.dm-layout.dm-layout-container"],
[data-flx="channel.direct-message.dm-layout.dm-list-column--2"],
/* vc */
[data-flx="voice.compact-voice-call-view.compact-voice-call-view-inner.section.voice-root-pointer-activity"],
[data-flx="channel.channel-view.channel-compact-call-surface.compact-call-wrapper"],
[data-flx="voice.compact-voice-call-view.compact-voice-call-view-inner.content-area"],
[data-flx="voice.compact-voice-call-view.avatar-fallback-node.audio-avatar-layout"],
[data-flx="channel.channel-view.guild-channel-view.voice-channel-join-empty-state.voice-join-empty-state"],
[data-flx="voice.compact-voice-call-view.compact-voice-call-placeholder-view.content-area"],
[data-flx="voice.compact-voice-call-view.compact-voice-call-placeholder-view.audio-avatar-layout"],
[data-flx="voice.compact-voice-call-view.compact-voice-call-placeholder-view.container"],
[data-flx="channel.channel-view.dm-channel-view.compact-call-wrapper"],
[data-flx="channel.channel-view.guild-channel-view.voice-active-header-wrapper"],
[data-flx="channel.channel-view.channel-view-scaffold.content-grid"],
[data-flx="channel.channel-view.dm-channel-view.voice-active-header-wrapper"]
{
	background: transparent!important;
}

/* ---------------------------------------------------------------- */
/* Add Transparency Part 2 - This list contains panels where you might
/* want to bring back a background color. you have to pick and choose.
/* ---------------------------------------------------------------- */

[class*='SplashScreen.module__splashContent_'], /* loading splashscreen */
[class*="GuildsLayout.module__guildListScroller"], /* server sidebar */
[class*="DMLayout.module__dmListColumn_"], /* dm list */
[class*="GuildNavbar.module__guildNavbarContainer_"], /* server channel list */
[data-flx="app.guilds-layout.user-area-wrapper"], /* self status */
[class*="ChannelHeader.module__headerWrapper_"], /* channel header */
[class*="MemberListContainer.module__memberListContainer_"], /* channel member list */
[class*="ChannelChatLayout.module__messagesArea_"], /* channel message container */
[class*='ChannelChatLayout.module__textareaArea_'], /* chat input area */
[class*='DMFriendsView.module__content_'], /* friendslist */
[class*="ActiveNowSidebar.module__sidebar_"], /* friendslist active now panel */
[class*="ChannelIndexPage.module__searchPanel_"], /* search results */
[class*="Modal.module__root_"], /* modal panels */
[class*="GuildMembersPage.module__pageContainer_"], /* server member page */
[class*="GuildMembersPage.module__tableWrapper_"], /* server member page member table */
[class*="DiscoveryPage.module__container_"], /* server discovery explore page */
[class*="AuthLayout.module__card_"], /* auth page */
[data-flx="channel.lexical-channel-textarea-content.textarea-outer"]::before /* user typing bottom gradient */
{
	background: transparent;
}

/* ---------------------------------------------------------------- */
/* adding back some color to panels to look a little nicer
/* ---------------------------------------------------------------- */
[data-flx="app.native-titlebar.titlebar"] /* window titlebar */ {
    background: #00000066;
}

[data-flx="app.user-area.user-area-inner.section"], /* self user status */
[data-flx="channel.message-search-bar.message-search-bar.input-container"], /* searchbar */
[data-flx="channel.direct-message.dm-friends-view.input.set-search-query"], /* searchbar */
[data-flx="discovery.discovery.discovery-navbar.div"], /* discovery page navbar */
[data-flx="discovery.discovery.discovery-guild-card.card.context-menu"], /* discovery page card */
[data-flx="channel.lexical-channel-textarea-content.textarea-outer"]::after, /* chat input */
[data-flx="voice.media-player.media-vertical-volume-control.mute-button.mute-click"], /* vc button */
[data-flx="voice.voice-call-corner-controls.channel-header-icon.pop-out"], /* vc button */
[data-flx="voice.voice-call-corner-controls.channel-header-icon.toggle-fullscreen"], /* vc button */
[data-flx="voice.compact-voice-call-view.compact-call-height-toggle-button.height-toggle-pill"], /* vc button */
[data-flx="channel.message-reactions.message-reaction-item.reaction-button.click"], /* react button */
[data-flx="messaging.markdown.renderers.common.code-elements.rich-code-block-renderer.div--8"], /* code block */
[class*="Markup.module__inline_"], /* inline code block */
[data-flx="messaging.embeds.embed-card.embed-card.wrapper"], /* embed card */
[data-flx="channel.message-attachments.forwarded-from-source.forwarded-source-button.jump-to-original--2"]  /* forwarded button */
{
    background: #ffffff0f!important;
}